<ul class="nav nav-tabs" id="categoryTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-target="#products" data-bs-toggle="tab" type="button">產品資訊</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#prices" data-bs-toggle="tab" type="button">產品價格</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#shipping" data-bs-toggle="tab" type="button">運輸費用</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#promotions" data-bs-toggle="tab" type="button">活動優惠</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#chat" data-bs-toggle="tab" type="button">閒聊</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-target="#noresponse" data-bs-toggle="tab" type="button">敏感詞</button>
    </li>
</ul>
